body {
  font-family: Alegreya, serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #ffe1d1, #ffdbca);
}

.header {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
}

.header-logo {
  align-self: center;
  justify-self: center;
}

.header-letter {
  font-size: 30px;
  color: #6a4a39;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  opacity: 0.7;
}

.menu-item {
  margin: 0 47px;
}

.menu-item:last-of-type {
  color: #ff7676;
  border-bottom: 4px solid #f8d1be;
}
