body {
  font-family: Alegreya, serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #ffe1d1, #ffdbca);
}

.header {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
}

.header-logo {
  align-self: center;
  justify-self: center;
}

.header-letter {
  font-size: 30px;
  color: #6a4a39;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  opacity: 0.7;
}

.menu-item {
  margin: 0 47px;
}

.menu-item:last-of-type {
  color: #ff7676;
  border-bottom: 4px solid #f8d1be;
}

/* hero section */
.container {
  max-width: 1500px;
}

.hero-container {
  position: relative;
  min-height: 550px;
  display: grid;
  grid-template-areas:
    'lamp title sun sun'
    'lamp title sun sun';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0px, auto));
  border-bottom: 1px solid #ff8989;
}

.lamp {
  grid-area: lamp;
  height: auto;
  justify-self: end;
  align-self: end;
  position: absolute;
  bottom: -350px;
}

#wave1,
#wave3,
#wave5 {
  opacity: 0.8;
}

#waves {
  justify-self: end;
  max-width: 1500px;
  width: 100%;
  grid-column: 1/5;
  align-self: end;
  grid-row: 2/2;
}

.container-sun {
  grid-area: sun;
  align-self: end;
  justify-self: start;
}

.sun {
  max-width: 400px;
  min-width: 200px;
  width: 100%;
}

#planes {
  width: 100%;
  grid-area: sun;
  justify-self: start;
  align-self: end;
}

/* hero cta */
.hero-cta {
  grid-area: title;
  justify-self: end;
  align-self: center;
}

.cta-title {
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
}

.cta-description {
  font-size: 20px;
  color: #333333;
}

.cta-btn {
  width: 200px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: rgb(51, 51, 51);
  box-shadow: rgba(255, 163, 148, 0.1) 0px 5px 10px;
  font-family: Alegreya;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
